/*====================================
    notification-bar css
====================================*/
.notification-bar {
    background-color: var(--extra-bgcolor);
    position: relative;
}
.notification-bar ul.notification-content li.noti-text-wrap {
    width: 100%;
}

/* notification-text css */
.notification-bar ul.notification-content li.noti-text-wrap .noti-text p {
    color: var(--secondary-font-color);
    font-size: 14px;
    padding: 10px 0px;
    text-align: center;
    line-height: normal;
}
.notification-bar ul.notification-content li.noti-text-wrap .noti-text p a {
    color: var(--primary-font-color);
    padding: 0px 5px;
    font-weight: 600;
    text-decoration: underline;
}
/* notification-text close-btn css */
.notification-bar button.notification-close-btn {
    color:var(--body-font-color);
    font-size: 10px;
    position: absolute;
    left: 5px;
    bottom: 50%;
    transform: translateY(50%);
    opacity: 0.5;
    line-height: 0;
}
.notification-bar button.notification-close-btn:hover {
    opacity: 1;
}
.notification-bar button.notification-close-btn svg {
    width: 16px;
    height: 16px;
}

/*====================================
    header css
====================================*/
.main-header .header-top-area {
    background-color: var(--body-bgcolor);
}
.main-header .header-top-area .header-area {
    display: flex;
    align-items: center;
}
.main-header .header-top-area .header-area .header-logo {
    width: 16.66%;
}
.main-header .header-top-area .header-area .header-menu {
    width: 66.67%;
    margin: 0px 0px 0px 15px;
}
.main-header .header-top-area .header-area .header-icon {
    width: 16.66%;
}
@media (max-width: 1199px) {
    .main-header .header-top-area {
        padding: 10px 0px;
    }
    .main-header .header-top-area .header-area .header-logo {
        width: 50%;
    }
    .main-header .header-top-area .header-area .header-menu {
        display: none;
    }
    .main-header .header-top-area .header-area .header-icon {
        width: 50%;
    }
}

/*====================================
    our-service css
====================================*/
.our-service {
    background-color: var(--heading-font-color);
    padding: 15px 0px;
}
.our-service .service-content ul.service-ul {
    display: flex;
    flex-wrap: wrap;    
}
.our-service .service-content ul.service-ul li.service-li {
    width: 25%;      
}
.our-service .service-content ul.service-ul li.service-li .service-block {
    display: flex;
    align-items: center;
    justify-content: center;    
}
.our-service .service-content ul.service-ul li.service-li .service-block .ser-icon a {
    display: block;
    color: var(--secondary-font-color);
    line-height: 1;
}
.our-service .service-content ul.service-ul li.service-li .service-block .ser-icon a:hover {
    color: var(--primary-font-color);
}
.our-service .service-content ul.service-ul li.service-li .service-block .ser-icon a svg {
    height: 20px;
    width: 20px;
}
.our-service .service-content ul.service-ul li.service-li .service-block .service-text {
    padding: 0px 15px 0px 0px;
}
.our-service .service-content ul.service-ul li.service-li .service-block .service-text h6 {
    color: var(--secondary-font-color); 
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
}
.our-service .service-content ul.service-ul::-webkit-scrollbar {
    width: 100%;
    height: 1px;
}
.our-service .service-content ul.service-ul::-webkit-scrollbar-track {
    background-color: transparent;
}
.our-service .service-content ul.service-ul::-webkit-scrollbar-thumb {
    background-color: transparent;
}
@media (max-width: 767px) { 
    .our-service .service-content ul.service-ul {
        flex-wrap: nowrap;
        overflow-x: auto;
        scrollbar-width: thin;
        -webkit-scrollbar-width: thin;
    }
    .our-service .service-content ul.service-ul li.service-li {
        min-width: 230px;              
    }   
}

/*====================================
    main-slider css
====================================*/
.slider-content .home-slider .slider-image-info {
    position: relative;
}

/* slider-img css */
.slider-content .home-slider .slider-image-info .slider-image {
    position: relative;
}
.slider-content .home-slider .slider-image-info .slider-image::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--heading-font-color);
    opacity: 0;
}
.slider-content .home-slider .slider-image-info .slider-image img.mobile-img {
    display: none;
}
@media (max-width: 600px) {
    .slider-content .home-slider .slider-image-info .slider-image img.desk-img {
        display: none;
    }
    .slider-content .home-slider .slider-image-info .slider-image img.mobile-img {
        display: block;
    }
}

/* slider-text-content css */
.slider-content .home-slider .slider-image-info .slider-text-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}
.slider-content .home-slider.owl-carousel .owl-item.active  .slider-image-info .slider-text-content {
    opacity: 1;
    visibility: visible;
}
.slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info {
    width: 33.33%;
}
@media (max-width: 1199px) {
   .slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info {
        width: 41.67%;
    } 
}
@media (max-width: 600px) {
   .slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info {
        width: 58.33%;
    } 
}
@media (max-width: 479px) {
   .slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info {
        width: 66.66%;
    } 
}

/* slider-text-content position css */
.slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info.slider-content-left {
    margin: 0px 0px 0px auto;
}
.slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info.slider-text-left {
    text-align: right;
}

/* slider-text-transition css */
.slider-content .home-slider.owl-carousel .owl-item.active .slider-image-info .slider-text-content .slider-text-info h2,
.slider-content .home-slider.owl-carousel .owl-item.active .slider-image-info .slider-text-content .slider-text-info p,
.slider-content .home-slider.owl-carousel .owl-item.active .slider-image-info .slider-text-content .slider-text-info a {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slider-content .home-slider.owl-carousel .owl-item.active .slider-image-info .slider-text-content .slider-text-info h2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.slider-content .home-slider.owl-carousel .owl-item.active .slider-image-info .slider-text-content .slider-text-info p {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
.slider-content .home-slider.owl-carousel .owl-item.active .slider-image-info .slider-text-content .slider-text-info a {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

/* slider-text css */
.slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info h2 {
    font-size: 75px;
    line-height: 1;
    text-transform: uppercase;
}
.slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info h2 span {
    display: block;
}
.slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info h2 span:last-child {
    color: var(--primary-font-color);
}
.slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info p {
    font-size: 16px;
    padding: 35px 0px 0px;
}
.slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info a {
    margin: 43px 0px 0px;
}
@media (max-width: 1599px) {
    .slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info h2 {
        font-size: 60px;
    }
   .slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info p {
        padding: 27px 0px 0px;
    }
    .slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info a {
        margin: 33px 0px 0px;
    }
}
@media (max-width: 1199px) {
    .slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info h2 {
        font-size: 40px;
    }
    .slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info p {
        font-size: 14px;
        padding: 17px 0px 0px;
    }
    .slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info a {
        margin: 23px 0px 0px;
    }
}
@media (max-width: 991px) {
    .slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info h2 {
        font-size: 30px;
    }
    .slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info p {
        padding: 12px 0px 0px;
    }
    .slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info a {
        margin: 17px 0px 0px;
    }
}
@media (max-width: 479px) {
    .slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info h2 {
        font-size: 20px;
    }
    .slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info p {
        padding: 9px 0px 0px;
    }
    .slider-content .home-slider .slider-image-info .slider-text-content .slider-text-info a {
        margin: 15px 0px 0px;
    }
}

/* slider-navigation css */
.slider-content .home-slider.owl-carousel .owl-nav {
    margin: 0px;
}
.slider-content .home-slider.owl-carousel .owl-nav button {
    color: var(--secondary-font-color);
    position: absolute;
    bottom: 50%;
    transform: translate(0px, 50%);
    height: 40px;
    width: 40px;
    background-color: var(--body-bgcolor);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    border-radius: 100%;
    box-shadow: var(--box-shadow-outer);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.slider-content .home-slider.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}
.slider-content .home-slider.owl-carousel .owl-nav button.owl-next {
    right: 0;
}
.slider-content:hover .home-slider.owl-carousel .owl-nav button {
    opacity: 1;
    visibility: visible;
}
.slider-content:hover .home-slider.owl-carousel .owl-nav button.owl-prev {
    transform: translate(30px, 50%);
}
.slider-content:hover .home-slider.owl-carousel .owl-nav button.owl-next {
    transform: translate(-30px, 50%);
}
.slider-content .home-slider.owl-carousel .owl-nav button:hover {
    color: var(--extra-font-color);
    background-color: var(--heading-font-color);
}
.slider-content .home-slider.owl-carousel .owl-nav button svg {
    width: 20px;
    height: 20px;
}
@media (max-width: 1199px) {
   .slider-content .home-slider.owl-carousel .owl-nav {
        display: none;
   } 
}

/* slider-dot css */
.slider-content .home-slider.owl-carousel .owl-dots {
    display: none;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-content .home-slider.owl-carousel .owl-dots button {
    margin: 0px 5px 5px 0px;
}
.slider-content .home-slider.owl-carousel .owl-dots button span {
    width: 10px;
    height: 10px;
    background-color: transparent;
    margin: 5px 0px 0px 5px;
    opacity: 0.5;
    border: 2px solid var(--secondary-font-color);
}
.slider-content .home-slider.owl-theme .owl-dots button.active span {
    height: 12px;
    width: 12px
}
.slider-content .home-slider.owl-theme .owl-dots button.active span,
.slider-content .home-slider.owl-theme .owl-dots button:hover span {
    background-color: var(--primary-font-color);
    border: 2px solid var(--primaryfont-color);
    opacity: 1;
}
@media (max-width: 1199px) {
    .slider-content .home-slider.owl-carousel .owl-dots {
        display: block;
    }
}
@media (max-width: 479px) {
    .slider-content .home-slider.owl-carousel .owl-dots {
        bottom: 5px;
    }
}

/*====================================
    custom banner css
====================================*/
.custom-banner {
    display: flex;
    align-items: center;
}
.custom-banner .custom-info-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -30px 0px 0px -30px;
}
.custom-banner .custom-info-img .custom-block {
    width: calc(50% - 30px);
    margin: 30px 0px 0px 30px;
}
@media (max-width: 767px) {
    .custom-banner .custom-info-img {
        flex-direction: column-reverse;
        margin: -30px 0px 0px -12px;
    }
    .custom-banner .custom-info-img .custom-block  {
        width: calc(100% - 12px);
        margin: 30px 0px 0px 12px;
    }
}

/* custom banner-text css */
.custom-banner .custom-info-img .custom-info {
    position: relative;
}
.custom-banner .custom-info-img .custom-info h2 {
    font-size: 60px;
    line-height: 1;
}
.custom-banner .custom-info-img .custom-info h2 span {
    display: flex;
}
.custom-banner .custom-info-img .custom-info h2 span.custom-text span.replace {
    color: var(--primary-font-color);
    padding: 0px 10px 0px 0px;
}
.custom-banner .custom-info-img .custom-info p {
    font-size: 18px;
    padding: 27px 0px 0px;
}
.custom-banner .custom-info-img .custom-info a {
    margin: 34px 0px 0px 0px;
}
@media (max-width: 1499px) {
    .custom-banner .custom-info-img .custom-info h2 {
        font-size: 50px;
    }
    .custom-banner .custom-info-img .custom-info p {
        font-size: 16px;
        padding: 18px 0px 0px;
    }
    .custom-banner .custom-info-img .custom-info a {
        margin: 23px 0px 0px 0px;
    }
}
@media (max-width: 1199px) {
    .custom-banner .custom-info-img .custom-info h2 {
        font-size: 40px;
    }
    .custom-banner .custom-info-img .custom-info p {
        font-size: 14px;
        padding: 17px 0px 0px;
    }
}
@media (max-width: 767px) {
    .custom-banner .custom-info-img .custom-info h2 {
        font-size: 30px;
    }
    .custom-banner .custom-info-img .custom-info p {
        padding: 12px 0px 0px;
    }
    .custom-banner .custom-info-img .custom-info a {
        margin: 17px 0px 0px 0px;
    }
}
@media (max-width: 479px) {
    .custom-banner .custom-info-img .custom-info h2 {
        font-size: 20px;
    }
    .custom-banner .custom-info-img .custom-info h2 span.custom-text span.replace {
        padding: 0px 5px 0px 0px;
    }
    .custom-banner .custom-info-img .custom-info p {
        padding: 11px 0px 0px;
    }
    .custom-banner .custom-info-img .custom-info a {
        margin: 15px 0px 0px 0px;
    }
}

/*====================================
    banner-video-content css
====================================*/
.banner-grid .banner-content ul.banner-ul li.banner-li .banner-video-content a.video-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-grid .banner-content ul.banner-ul li.banner-li a.video-img::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--body-font-color);
    opacity: 0.5;
}
.banner-grid .banner-content ul.banner-ul li.banner-li .banner-video-content a.video-img span.video-play {
    color:var(--extra-font-color);
    font-size: 18px;
    position: absolute;
    height: 90px;
    width: 90px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--extra-font-color);
    border-radius:100%;
    z-index: 1;
}
.banner-grid .banner-content ul.banner-ul li.banner-li .banner-video-content a.video-img span.video-play:hover {
    color: var(--primary-font-color);
}
.banner-grid .banner-content ul.banner-ul li.banner-li .banner-video-content a.video-img span.video-play i {
    font-size: 45px;
}
@media (max-width: 991px) {
    .banner-grid .banner-content ul.banner-ul li.banner-li .banner-video-content a.video-img span.video-play {
        height: 60px;
        width: 60px;
    }
    .banner-grid .banner-content ul.banner-ul li.banner-li .banner-video-content a.video-img span.video-play i {
        font-size: 30px;
    }
}
@media (max-width: 479px) {
    .banner-grid .banner-content ul.banner-ul li.banner-li .banner-video-content a.video-img span.video-play {
        height: 40px;
        width: 40px;
    }
    .banner-grid .banner-content ul.banner-ul li.banner-li .banner-video-content a.video-img span.video-play i {
        font-size: 16px;
    }
}

/*====================================
    about banner css
====================================*/
.count-area {
    border-top: 1px solid var(--border-color);
}
.count-area .count-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -30px 0px 0px -30px;
}
.count-area .count-wrapper .count-text {
    width: calc(41.66% - 30px);
}
.count-area .count-wrapper .count-wrap {
    width: calc(58.33% - 30px);
}
.count-area .count-wrapper .count-text,
.count-area .count-wrapper .count-wrap {
    margin: 30px 0px 0px 30px;
}
@media (max-width: 991px) {
    .count-area .count-wrapper .count-text,
    .count-area .count-wrapper .count-wrap {
        width: calc(50% - 30px);
    }
}
@media (max-width: 767px) {
    .count-area .count-wrapper {
        flex-direction: column-reverse;
        margin: -30px 0px 0px -12px;
    }
    .count-area .count-wrapper .count-text,
    .count-area .count-wrapper .count-wrap {
        width: calc(100% - 12px);
        margin: 30px 0px 0px 12px;
    }
}

/* count-text css */
.count-area .count-wrapper .count-text h2 {
    font-size: 60px;
    line-height: 1;
    max-width: 50%;
}
.count-area .count-wrapper .count-text h2 span {
    display: block;
}
.count-area .count-wrapper .count-text p {
    font-size: 18px;
    padding: 27px 0px 0px;
}
.count-area .count-wrapper .count-text a {
    margin: 34px 0px 0px 0px;
}

@media (max-width: 1499px) {
    .count-area .count-wrapper .count-text h2 {
        font-size: 50px;
    }
    .count-area .count-wrapper .count-text p {
        font-size: 16px;
        padding: 18px 0px 0px;
    }
    .count-area .count-wrapper .count-text a {
        margin: 23px 0px 0px 0px;
    }
}
@media (max-width: 1199px) {
    .count-area .count-wrapper .count-text h2 {
        font-size: 40px;
    }
    .count-area .count-wrapper .count-text p {
        font-size: 14px;
        padding: 17px 0px 0px;
    }
}
@media (max-width: 767px) {
    .count-area .count-wrapper .count-text h2 {
        font-size: 30px;
        max-width: 100%;
    }
    .count-area .count-wrapper .count-text p {
        padding: 12px 0px 0px;
    }
    .count-area .count-wrapper .count-text a {
        margin: 17px 0px 0px 0px;
    }
}
@media (max-width: 479px) {
    .count-area .count-wrapper .count-text h2 {
        font-size: 20px;
    }
    .count-area .count-wrapper .count-text p {
        padding: 11px 0px 0px;
    }
    .count-area .count-wrapper .count-text a {
        margin: 15px 0px 0px 0px;
    }
}

/* counter css */
ul.single-count {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
ul.single-count li.count-li {
    width: 50%;
    padding: 45px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}
ul.single-count li.count-li:nth-child(1),
ul.single-count li.count-li:nth-child(2) {
    border-top: none;
}
ul.single-count li.count-li:nth-child(even) {
    border-left: none;
}
ul.single-count li.count-li .count-info {
    display: flex;
    align-items: flex-end;
    text-align: center;
}
ul.single-count li.count-li .count-info h2 {
    color: var(--primary-font-color);
    font-size: 45px;
    line-height: 1;
}
ul.single-count li.count-li .count-info h2::after {
    content: "+";
}
ul.single-count li.count-li .count-info a {
    color: var(--heading-font-color);
    margin: 0px 10px 0px 0px;
    line-height: 0;
}
ul.single-count li.count-li .count-info a svg {
    height: 24px;
    width: 24px;
}
ul.single-count li.count-li span.count-title {
    margin: 8px 0px 0px;    
}
@media (max-width: 1499px) {
    ul.single-count li.count-li .count-info h2 {
        font-size: 35px;
    }
}
@media (max-width: 991px) {
    ul.single-count li.count-li {
        padding: 30px 15px;
    }
    ul.single-count li.count-li .count-info h2 {
        font-size: 30px;
    }
    ul.single-count li.count-li .count-info a {
        margin: 0px 5px 0px 0px;
    }
    ul.single-count li.count-li .count-info a svg {
        height: 20px;
        width: 20px;
    }
}
@media (max-width: 479px) {
    ul.single-count li.count-li .count-info h2 {
        font-size: 24px;
    }
}

/*====================================
   feature css
====================================*/
.feature-area .feature-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -30px 0px 0px -30px;
}
.feature-area .feature-wrapper .feature-wrap {
    width: calc(50% - 30px);
    margin: 30px 0px 0px 30px;
}
@media (max-width: 767px)  {
        .feature-area .feature-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: -30px 0px 0px -12px;
    }
    .feature-area .feature-wrapper .feature-wrap {
        width: calc(50% - 12px);
        margin: 30px 0px 0px 12px;
    }
}
@media (max-width: 479px)  {
    .feature-area .feature-wrapper .feature-wrap {
        width: calc(100% - 12px);
    }
}

/* feature-title css */
.feature-area .feature-wrapper .feature-info .feature-title h2 {
    font-size: 60px;
    line-height: 1;
}

/* feature-block css  */
.feature-area .feature-wrapper .feature-info .feature-block ul.feature-ul li {
    margin: 12px 0px 0px;
}
.feature-area .feature-wrapper .feature-info .feature-block ul.feature-ul li:first-child {
    margin: 27px 0px 0px;
}
.feature-area .feature-wrapper .feature-info .feature-block ul.feature-ul li .feature-text p {
    font-size: 18px;
    position: relative;
    padding: 0px 30px 0px 0px;
}
.feature-area .feature-wrapper .feature-info .feature-block ul.feature-ul li .feature-text p::before {
    content: "\f272";
    font-family: bootstrap-icons !important;
    color: var(--primary-font-color);
    font-size: 18px;
    position: absolute;
    right: 0px;
    bottom: 50%;
    transform: translateY(50%);
}
.feature-area .feature-wrapper .feature-info .feature-block  a {
    margin: 34px 0px 0px;
}
@media (max-width: 1499px) {
    .feature-area .feature-wrapper .feature-info .feature-title h2 {
        font-size: 50px;
    }
    .feature-area .feature-wrapper .feature-info .feature-block ul.feature-ul li {
        margin: 11px 0px 0px;
    }
    .feature-area .feature-wrapper .feature-info .feature-block ul.feature-ul li:first-child {
        margin: 18px 0px 0px;
    }
    .feature-area .feature-wrapper .feature-info .feature-block ul.feature-ul li .feature-text p {
        font-size: 16px;
    }
    .feature-area .feature-wrapper .feature-info .feature-block  a {
        margin: 23px 0px 0px;
    }
}
@media (max-width: 1199px) {
    .feature-area .feature-wrapper .feature-info .feature-title h2 {
        font-size: 40px;
    }
    .feature-area .feature-wrapper .feature-info .feature-block ul.feature-ul li {
        margin: 9px 0px 0px;
    }
    .feature-area .feature-wrapper .feature-info .feature-block ul.feature-ul li:first-child {
        margin: 17px 0px 0px;
    }
    .feature-area .feature-wrapper .feature-info .feature-block ul.feature-ul li .feature-text p {
        font-size: 14px;
        padding: 0px 24px 0px 0px;
    }
}
@media (max-width: 767px) {
    .feature-area .feature-wrapper .feature-info .feature-title h2 {
        font-size: 30px;
    }
    .feature-area .feature-wrapper .feature-info .feature-block ul.feature-ul li:first-child {
        margin: 12px 0px 0px;
    }
    .feature-area .feature-wrapper .feature-info .feature-block ul.feature-ul li .feature-text p::before {
        font-size: 16px;
    }
    .feature-area .feature-wrapper .feature-info .feature-block  a {
        margin: 17px 0px 0px;
    }
}
@media (max-width: 479px) {
    .feature-area .feature-wrapper .feature-info .feature-title h2 {
        font-size: 20px;
    }
    .feature-area .feature-wrapper .feature-info .feature-block ul.feature-ul li {
        margin: 3px 0px 0px;
    }
    .feature-area .feature-wrapper .feature-info .feature-block ul.feature-ul li:first-child {
        margin: 11px 0px 0px;
    }
    .feature-area .feature-wrapper .feature-info .feature-block  a {
        margin: 15px 0px 0px;
    }
}

/*====================================
    test-slider css
====================================*/
.test-area {
    background-color: var(--extra-bgcolor);
}
.test-area .testi-content-wrap {
    width: 75%;
    margin: 0px auto;
}
.test-area .testi-content-wrap .test-slider {
    text-align: center;
}

/* test-quo-text css */
.test-area .testi-content-wrap .test-slider .test-quo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.test-area .testi-content-wrap .test-slider .test-quo-text .testi-quote {
    display: flex;
}
.test-area .testi-content-wrap .test-slider .test-quo-text .testi-quote i {
    color:  var(--heading-font-color);
    font-size: 24px;
    padding: 0px 0px 0px 10px;
}
.test-area .testi-content-wrap .test-slider .test-quo-text .testi-quote p {
    font-size: 16px;
}
.test-area .testi-content-wrap .test-slider .test-quo-text .product-ratting {
    margin: 8px 0px 0px;
}

/* testi-info css */
.test-area .testi-content-wrap .test-slider .testi-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.test-area .testi-content-wrap .test-slider .testi-info .testi-author {
    padding: 27px 0px 0px 0px;
}
.test-area .testi-content-wrap .test-slider .testi-info .testi-author h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
}
.test-area .testi-content-wrap .test-slider .testi-info .testi-monial-img {
    margin: 13px 0px 0px;
}
.test-area .testi-content-wrap .test-slider .testi-info .testi-monial-img img {
    max-width: 90px;
    border-radius: 100%;
}
@media (max-width: 1199px) {
    .test-area .testi-content-wrap {
        width: 83.33%;
    }
    .test-area .testi-content-wrap .test-slider .test-quo-text .testi-quote p {
        font-size: 14px;
    }
    .test-area .testi-content-wrap .test-slider .testi-info .testi-author {
        padding: 21px 0px 0px 0px;
    }
    .test-area .testi-content-wrap .test-slider .testi-info .testi-author h2 {
        font-size: 16px;
    }
}
@media (max-width: 991px) {
    .test-area .testi-content-wrap {
        width: 100%;
    }
    .test-area .testi-content-wrap .test-slider .test-quo-text .testi-quote i {
        padding: 0px 0px 0px 5px;
    }
}
@media (max-width: 600px) {
    .test-area .testi-content-wrap .test-slider .test-quo-text .testi-quote i {
        padding: 0px;
    }
}

/*====================================
    popup-wrapper css
====================================*/
.popup-wrapper .modal {
    display: none;
}
.popup-wrapper .modal.show {
    display: flex!important;
    align-items: center;
    justify-content: center;
}
.popup-wrapper .modal-dialog {
    max-width: 700px;
}
.popup-wrapper .modal-dialog .modal-content {
    border: none;
    border-radius: 0;
}
.popup-wrapper .modal-dialog .modal-content .modal-body {
    padding: 0px;
}
.popup-wrapper .modal-dialog .modal-content .modal-body button.close {
    color: var(--extra-font-color);
    font-size: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    text-shadow: none;
    background-color: var(--primary-font-color);
}
.popup-wrapper .modal-dialog .modal-content .modal-body button.close:hover {
    background-color: var(--heading-font-color);
}

/* popup-info css  */
.popup-wrapper .modal-dialog .modal-content .modal-body .popup-info {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 700px;
}
.popup-wrapper .modal-dialog .modal-content .modal-body .popup-info .popup-image {
    width: 33.33%;
}
.popup-wrapper .modal-dialog .modal-content .modal-body .popup-info .popup-text-news {
    width: 66.66%;
}
/* popup-text-news css */
.popup-wrapper .modal-dialog .modal-content .modal-body .popup-info .popup-text-news {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
.popup-wrapper .modal-dialog .modal-content .modal-body .popup-text-news .popup-text h2 {
    font-size: 24px;
}
.popup-wrapper .modal-dialog .modal-content .modal-body .popup-text-news .popup-text p {
    margin: 14px 0px 0px;
}

/* popup-newsletter css  */
.popup-wrapper .modal-dialog .modal-content .modal-body .popup-text-news .popup-newsletter {
    margin: 22px 0px 0px;
}
.popup-wrapper .modal-dialog .modal-content .modal-body .popup-text-news .popup-newsletter form .subscribe-block input {
    text-align: center;
    width: 300px;
    padding: 15px;
}
.popup-wrapper .modal-dialog .modal-content .modal-body .popup-text-news .popup-newsletter form .subscribe-block .popup-button {
    margin: 30px 0px 0px;
}
@media (max-width : 600px){
    .popup-wrapper .modal-dialog {
        max-width: 100%;
        margin: 0px 15px;
    }
    .popup-wrapper .modal-dialog .modal-content .modal-body .popup-info {
        width: 100%;
    }
    .popup-wrapper .modal-dialog .modal-content .modal-body .popup-info .popup-image {
        display: none;
    }
    .popup-wrapper .modal-dialog .modal-content .modal-body .popup-info .popup-text-news {
        width: 100%;
        padding: 30px 15px;
    }
}
@media (max-width : 479px) {
    .popup-wrapper .modal-dialog .modal-content .modal-body button.close {
        height: 25px;
        width: 25px;
    }
    .popup-wrapper .modal-dialog .modal-content .modal-body .popup-text-news .popup-newsletter form .subscribe-block input {
        width: calc(300px - 30px);
    }
}

/*====================================
    home-custom-banner css
====================================*/
.home-custom-banner .home-custom-block .home-custom-wrap {
    position: relative;
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img {
    display: block;
    position: relative;
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img img.desk-img {
    display: block;
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img img.mobile-img {
    display: none;
}

/* home-custom-wrapper css */
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper {
    width: calc(41.67% - 50px);
    position: absolute;
    right: 50px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info {
    padding: 30px;
    background-color: var(--body-bgcolor);
    z-index: 1;
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info h6 {
    color: var(--body-font-color);
    font-size: 24px;
    margin: 0px 0px 8px;
    letter-spacing: 10px;
    display: inline-block;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;

    border-bottom: 1px solid;
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info h6:hover {
    color: var(--primmary-font-color);
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom-title span:first-child {
    margin: 0px;
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom-title {
    display: flex;
    align-items: center;
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom-title h2 {
    color: var(--secondary-font-color);
    font-size: 100px;
    line-height: 1;
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom-title .home-custom-disoff {
    margin: 0px 0px 0px 5px;
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom-title .home-custom-disoff span {
    display: block;
    color: var(--secondary-font-color);
    font-size: 50px;
    margin: 5px 0px 0px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom-title .home-custom-disoff span:first-child {
    margin: 0px;
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom-title .home-custom-disoff .home-custom-off {
    font-size: 30px;
    font-weight: 500;
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom {
    margin: 14px 0px 0px;
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom span {
    display: block;
    color: var(--secondary-font-color);
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 500;
    line-height: 1;
}

/* home-custom-button css */
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-button {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 1;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img:hover .home-custom-button {
    opacity: 1;
    visibility: visible;
}
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-button,
.home-custom-banner .home-custom-block .home-custom-wrap a.banner-img:hover .home-custom-button {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
@media (max-width: 1599px) {
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info h6 {
        font-size: 20px;
        margin: 0px 0px 6px;
    }
   .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom-title h2 {
        font-size: 80px;
    }
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom-title .home-custom-disoff span {
        font-size: 40px;
    }
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom-title .home-custom-disoff .home-custom-off,
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom span {
        font-size: 24px;
    }
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom {
        margin: 8px 0px 0px;
    }
}
@media (max-width: 1199px) {
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper {
        width: calc(50% - 50px);
    }
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info h6 {
        font-size: 16px;
        margin: 0px 0px 5px;
        letter-spacing: 7px
    }
   .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom-title h2 {
        font-size: 60px;
    }
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom-title .home-custom-disoff span {
        font-size: 30px;
    }
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom-title .home-custom-disoff .home-custom-off {
        font-size: 18px;
    }
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom span {
        letter-spacing: 3px
    }
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom {
        margin: 6px 0px 0px;
    }
}
@media (max-width: 600px) {
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img img.desk-img {
        display: none;
    }
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img img.mobile-img {
        display: block;
    }
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info {
        padding: 15px 20px;
    }
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info h6 {
        letter-spacing: 5px
    }
   .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom-title h2 {
        font-size: 50px;
    }
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom-title .home-custom-disoff span {
        font-size: 24px;
    }
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom-title .home-custom-disoff .home-custom-off,
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom span {
        font-size: 16px;
    }
    .home-custom-banner .home-custom-block .home-custom-wrap a.banner-img .home-custom-wrapper .home-custom-info .home-custom span {
        letter-spacing: 2px
    }
}

/*====================================
    brand-logo css
====================================*/
.brand-logo .brand-logo-wrap .brand-logo-slider a {
    display: block;
}
.brand-logo .brand-logo-wrap .brand-logo-slider a span.brand-img {
    display: block;
    max-width: 170px;
    margin: 0px auto;
    text-align: center;
}
.brand-logo .brand-logo-wrap .brand-logo-slider a span.brand-img img {
    opacity: 0.4;
    filter: grayscale(1);
}
.brand-logo .brand-logo-wrap .brand-logo-slider a:hover span.brand-img img {
    opacity: 0.7;
    filter: grayscale(0);
}
.brand-logo .brand-logo-wrap .brand-logo-slider a span.brand-img img,
.brand-logo .brand-logo-wrap .brand-logo-slider a:hover span.brand-img img {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/*====================================
    custom-text-line css
====================================*/
.custom-text-line {
    background-color: var(--heading-font-color);
    padding: 15px 0px;
}

/* notification-text css */
.custom-text-line ul.custom-line li .custom-text p {
    color: var(--extra-font-color);
    text-align: center;
    line-height: normal;
}
.custom-text-line ul.custom-line li .custom-text p a {
    color: var(--primary-font-color);
    font-size: 16px;
    padding: 0px 5px 0px 0px;
    font-weight: 700;
    text-decoration: underline;
}
@media (max-width: 479px) {
    .custom-text-line ul.custom-line li .custom-text p a {
        padding: 0px;
    }
}

/*====================================
   newsletter-block css
====================================*/
.news-letter .newletter-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.news-letter .newletter-main .newsletter-info {
    display: flex;
    align-items: center;
}
.news-letter .newletter-main .newsletter-info .news-icon {
    margin: 0px 0px 0px 15px;
}
.news-letter .newletter-main .newsletter-info .news-icon i {
    color: var(--primary-font-color);
    font-size: 18px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--extra-bgcolor);
    border-radius: 100%;
    line-height: 1;
}
.news-letter .newletter-main .newsletter-info .news-title {
    display: flex;
    flex-direction: column;
}
.news-letter .newletter-main .newsletter-info .news-title h2.news-heading {
    font-size: 20px;
    line-height: 1;
}
.news-letter .newletter-main .newsletter-info .news-title p.newstext {
    margin: 4px 0px 0px;
}

/* subscribe-block css */
.news-letter .newletter-main .news-content .subscribe-block {
    position: relative;
    box-shadow: var(--box-shadow-outer);
}
.news-letter .newletter-main .news-content .subscribe-block input {
    width: 350px;
    height: 50px;
    border: none;
}
.news-letter .newletter-main .news-content .subscribe-block .email-submit {
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
}
.news-letter .newletter-main .news-content .subscribe-block .email-submit button {
    font-size: 18px;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    line-height: 0;
}
@media (max-width: 991px) {
    .news-letter .newletter-main {
        flex-direction: column;
    }
    .news-letter .newletter-main .news-content {
        margin: 22px 0px 0px;
    }
}
@media (max-width: 479px) {
    .news-letter .newletter-main {
        align-items: stretch;
    }
    .news-letter .newletter-main .newsletter-info {
        flex-direction: column;
    }
    .news-letter .newletter-main .newsletter-info .news-icon {
        margin: 0px 0px 15px 0px;
    }
    .news-letter .newletter-main .news-content .subscribe-block input {
        width: 100%;
    }
}

/*====================================
    footer css
====================================*/
.footer-area .footer-list-wrap ul.footer-ul li.footer-li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0px 0px;
}
.footer-area .footer-list-wrap ul.footer-ul li.footer-li:first-child {
    margin: 0px;
}

/* theme-logo css */
.footer-area .footer-list-wrap ul.footer-ul li.footer-li .footer-logo a.theme-logo {
    display: block;
}
.footer-area .footer-list-wrap ul.footer-ul li.footer-li .footer-logo a.theme-logo img {
    max-width: 123px;
}

/* footer-link css */
.footer-area .footer-list-wrap ul.footer-ul li.footer-li ul.ftlink-ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: -15px -15px 0px 0px;
}
.footer-area .footer-list-wrap ul.footer-ul li.footer-li ul.ftlink-ul li.ftlink-li {
    margin: 15px 15px 0px 0px;
    padding: 0px 15px 0px 0px;
    border-right: 1px solid var(--border-color);
}
.footer-area .footer-list-wrap ul.footer-ul li.footer-li ul.ftlink-ul li.ftlink-li:first-child {
    border: none;
    padding: 0px;
}
.footer-area .footer-list-wrap ul.footer-ul li.footer-li ul.ftlink-ul li.ftlink-li a {
    color: var(--secondary-font-color);
    font-size: 16px;
    font-weight: 700;
}
.footer-area .footer-list-wrap ul.footer-ul li.footer-li ul.ftlink-ul li.ftlink-li a:hover {
    color: var(--primary-font-color);
}
@media (max-width: 767px) {
    .footer-area .footer-list-wrap ul.footer-ul li.footer-li ul.ftlink-ul {
        margin: -15px -12px 0px 0px;
    }
    .footer-area .footer-list-wrap ul.footer-ul li.footer-li ul.ftlink-ul li.ftlink-li {
        margin: 15px 12px 0px 0px;
        padding: 0px 12px 0px 0px;
    }
}
@media (max-width: 479px) {
    .footer-area .footer-list-wrap ul.footer-ul li.footer-li {
        margin: 21px 0px 0px;
    }
    .footer-area .footer-list-wrap ul.footer-ul li.footer-li ul.ftlink-ul li.ftlink-li a {
        font-size: 14px;
    }
}

/*====================================
    footer-copyright css
====================================*/
.ft-copyright-area .ft-copyright ul.ft-copryright-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0px;
    margin: 20px 0px 0px;
    border-top: 1px solid var(--border-color);
}
.ft-copyright-area .ft-copyright ul.ft-copryright-ul li.ft-copryright-li {
    text-align: center;
}
@media (max-width: 479px) {
    .ft-copyright-area .ft-copyright ul.ft-copryright-ul {
        flex-direction: column-reverse;
    }
    .ft-copyright-area .ft-copyright ul.ft-copryright-ul li.ft-copryright-li.ft-copyright-text {
        margin: 9px 0px 0px;
    }
}

/*====================================
    modal-body css
====================================*/
.productmodal .modal-dialog {
    max-width: 750px;
}
.productmodal .modal-dialog .modal-content {
    border: none;
}
.productmodal .modal-dialog .modal-body {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px;
}
.productmodal .modal-dialog .modal-body .quickview-slider {
    width: 350px;
    padding: 0px 0px 0px 30px;
}
.productmodal .modal-body .quickview-slider .gallery-top {
    margin: 0px 0px 15px 0px;
}
@media (max-width: 767px) {
    .productmodal .modal-dialog {
        padding: 15px;
    }
}
@media (max-width: 600px) {
    .productmodal .modal-dialog .modal-body {
        flex-direction: column;
        padding: 15px;
    }
    .productmodal .modal-dialog .modal-body .quickview-slider {
        width: 100%;
        padding: 0px;
    }
}

/* quick-view-content css */
.productmodal .quick-view-content {
    padding: 0px 30px;
    width: calc(100% - 350px);
    max-height: 450px;
    overflow-y: auto;
}
.productmodal .quick-view-content .pro-nprist .product-title span {
    display: block;
    color: var(--extra-font-color);
    margin: 0px 0px 7px;
}
.productmodal .quick-view-content .pro-nprist .product-title h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    margin: 0px 0px 16px;
}
.productmodal .quick-view-content .pro-nprist .product-price {
    margin: 0px 0px 17px;
}
.productmodal .quick-view-content .pro-nprist .product-desc {
    margin: 13px 0px 0px;
}
.productmodal .quick-view-content form {
    margin: 22px 0px 0px;
    padding: 30px 0px 0px;
    border-top: 1px solid #e2e2e2;
}
.productmodal .quick-view-content form .quick-view-select .selector-wrapper {
    display: flex;
    align-items: center;
    margin: 15px 0px 0px;
}
.productmodal .quick-view-content form .quick-view-select .selector-wrapper:first-child {
    margin: 0px;
}
.productmodal .quick-view-content form .quick-view-select .selector-wrapper label {
    display: block;
    color: var(--body-font-color);
    font-size: 15px;
    width: 75px;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1;
}
.productmodal .quick-view-content form .quick-view-select .selector-wrapper select {
    width: calc(100% - 90px);
    margin: 0px 0px 0px 15px;
}
.productmodal .quick-view-content form .quick-view-select .selector-wrapper .pro-qty-wrap {
    display: flex;
    align-items: center;
}
.productmodal .quick-view-content form .quick-view-select .selector-wrapper .pro-qty-wrap .product-quantity {
    margin: 0px 0px 0px 15px;
}
.productmodal .quick-view-content .quickview-buttons button.btn-style,
.productmodal .quick-view-content .quickview-buttons a.btn-style {
    width: 100%;
    margin: 15px 0px 0px;
}
.productmodal .quick-view-content .quickview-buttons a.btn-style {
    display: flex;
    align-items: center;
    justify-content: center;
}
.productmodal .quick-view-content .quickview-buttons a span.icon i {
    line-height: 1;
    margin: 0px 5px 0px 0px;
}
@media (max-width: 600px) {
    .productmodal .quick-view-content {
        width: 100%;
        max-height: 100%;
        padding: 0px;
        margin: 15px 0px 0px;
        overflow-y: unset;
    }
}