{%extends 'base.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

        <!-- main section start-->
        <main>
            <!-- breadcrumb start -->
            <section class="breadcrumb-area">
                <div class="container">
                    <div class="col">
                        <div class="row">
                            <div class="breadcrumb-index">
                                <!-- breadcrumb-list start -->
                                <ul class="breadcrumb-ul">
                                    <li class="breadcrumb-li">
                                        <a class="breadcrumb-link" href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-li">
                                        <span class="breadcrumb-text">About us 2</span>
                                    </li>
                                </ul>
                                <!-- breadcrumb-list end -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb end -->
            <!-- about-us start -->
            <section class="about-area-2 section-ptb">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="about-content">
                                <!-- about title start -->
                                <div class="section-capture">
                                    <div class="section-title">
                                        <h2><span>About us</span></h2>
                                    </div>
                                </div>
                                <!-- about title end -->
                                <!-- about banner start -->
                                <div class="about-content">
                                    <div class="about-banner-area">
                                        <div class="single-banner banner-hover">
                                            <a href="javascript:void(0)" class="banner-img">
                                                <img src="img/about/our-company1.jpg" class="img-fluid" alt="our-company1">
                                            </a>
                                        </div>
                                        <div class="abt-banner-desc">
                                            <h6>Our company</h6>
                                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                        </div>
                                    </div>
                                    <div class="about-banner-area">
                                        <div class="single-banner banner-hover">
                                            <a href="https://www.youtube-nocookie.com/embed/0etCKCAsImI?start=24" class="banner-img play-button">
                                                <img src="img/about/our-mission2.jpg" class="img-fluid" alt="our-mission2">
                                                <span><i class="bi bi-play-fill"></i></span>
                                            </a>
                                        </div>
                                        <div class="abt-banner-desc">
                                            <h6>Our mission</h6>
                                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                        </div>
                                    </div>
                                    <div class="about-banner-area">
                                        <div class="single-banner banner-hover">
                                            <a href="javascript:void(0)" class="banner-img">
                                                <img src="img/about/our-vision3.jpg" class="img-fluid" alt="our-vision3">
                                            </a>
                                        </div>
                                        <div class="abt-banner-desc">
                                            <h6>Our vision</h6>
                                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- about banner end -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-us end -->
            <!-- project-count start -->
            <section class="project-count-area">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="single-count">
                                <ul class="count-ul">
                                    <li class="count-li">
                                        <!-- project info start -->
                                        <div class="count-info">
                                            <h2>
                                            <span class="count-number">10</span>
                                            <span>+</span>
                                            </h2>
                                            <a href="javascript:void(0)"><span class="count-icon"><i class="bi bi-briefcase"></i></span></a>
                                            <span class="count-title">Years</span>
                                        </div>
                                        <!-- project info end -->
                                    </li>
                                    <li class="count-li">
                                        <!-- project info start -->
                                        <div class="count-info">
                                            <h2>
                                            <span class="count-number">100</span>
                                            <span>+</span>
                                            </h2>
                                            <a href="javascript:void(0)"><span class="count-icon"><i class="bi bi-people"></i></span></a>
                                            <span class="count-title">Clients</span>
                                        </div>
                                        <!-- project info end -->
                                    </li>
                                    <li class="count-li">
                                        <!-- project info start -->
                                        <div class="count-info">
                                            <h2>
                                            <span class="count-number">50</span>
                                            <span>+</span>
                                            </h2>
                                            <a href="javascript:void(0)"><span class="count-icon"><i class="bi bi-shop"></i></span></a>
                                            <span class="count-title">Shops</span>
                                        </div>
                                        <!-- project info end -->
                                    </li>
                                    <li class="count-li">
                                        <!-- project info start -->
                                        <div class="count-info">
                                            <h2>
                                            <span class="count-number">17</span>
                                            <span>M+</span>
                                            </h2>
                                            <a href="javascript:void(0)"><span class="count-icon"><i class="bi bi-tags"></i></span></a>
                                            <span class="count-title">Sales</span>
                                        </div>
                                        <!-- project info end -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- project-count end -->
            <!-- "about-team start -->
            <section class="about-team section-ptb">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="our-team">
                                <div class="section-capture">
                                    <div class="section-title">
                                        <h2><span class="title-main">Our team</span></h2>
                                    </div>
                                </div>
                                <ul class="team-ul">
                                    <li class="team-li">
                                        <div class="team-content">
                                            <a href="javascript:void(0)">
                                                <img src="img/team/team-1.jpg" class="img-fluid" alt="team-1">
                                            </a>
                                            <div class="team-info">
                                                <h6>Johnny walker</h6>
                                                <span>Web designer</span>
                                                <p>Vestibulum porttitor egestas orci, vitae ullamcorper risus rutrum massa quis.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="team-li">
                                        <div class="team-content">
                                            <a href="javascript:void(0)">
                                                <img src="img/team/team-2.jpg" class="img-fluid" alt="team-2">
                                            </a>
                                            <div class="team-info">
                                                <h6>Rebecca flex</h6>
                                                <span>Support staff</span>
                                                <p>Vestibulum porttitor egestas orci, vitae ullamcorper risus rutrum massa quis.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="team-li">
                                        <div class="team-content">
                                            <a href="javascript:void(0)">
                                                <img src="img/team/team-3.jpg" class="img-fluid" alt="team-3">
                                            </a>
                                            <div class="team-info">
                                                <h6>Jan ringo</h6>
                                                <span>Deputy sale</span>
                                                <p>Vestibulum porttitor egestas orci, vitae ullamcorper risus rutrum massa quis.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="team-li">
                                        <div class="team-content">
                                            <a href="javascript:void(0)">
                                                <img src="img/team/team-4.jpg" class="img-fluid" alt="team-4">
                                            </a>
                                            <div class="team-info">
                                                <h6>Ringo kai</h6>
                                                <span>Policy member</span>
                                                <p>Vestibulum porttitor egestas orci, vitae ullamcorper risus rutrum massa quis.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- "about-team end -->
        </main>
        <!-- main section end-->
 {% endblock %}