{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description"
        content="A best stylish, creative, modern responsive template for different eCommerce business or industries." />
    <meta name="keywords"
        content="electronics template, gadgets shop, eCommerce template, responsive template, electronics products, html, eCommerce html template, responsive, gadgets store, smartwatch, furniture, mobile, watches, electronics, bicycle, single product, RTL supported, one product, online store, minimal electronics, speakers store" />
    <meta name="author" content="spacingtech_webify">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title -->
    <title>Electon - The Electronics & Gadgets HTML5 Template</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon/favicon2.png' %}">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.css' %}">
    <!-- magnific-popup css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
    <!-- fontawesome css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
    <!-- owl-carousel css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}">
    <!-- swiper css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
    <!-- slick slider css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
    <!-- collection css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/collection2.css' %}">
    <!-- blog css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog2.css' %}">
    <!-- other-pages css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/other-pages.css' %}">
    <!-- product-page css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/product-page.css' %}">
    <!-- theme css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme2.css' %}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
</head>

<body>
    <!-- preloader start -->
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader end -->


    <!-- main section start-->
    <main>
   
        <!-- other page start -->
        <section class="faq-page section-ptb ">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!-- faq title start -->
                        <div class="section-capture">
                            <div class="section-title">
                                <h2><span>Frequently asked questions</span></h2>
                            </div>
                        </div>
                        <!-- faq title end -->
                        <div class="content-qa-banner">
                            <div class="banner-image banner-hover">
                                <img src="{% static 'img/other-pages/faq.jpg' %}" class="img-fluid" alt="faq">
                            </div>
                            <div class="que-ans">
                                <ul class="accordian-ul">
                                    <li class="accordian-li">
                                        <a href="#template-1" class="accordian" data-bs-toggle="collapse"
                                            aria-expanded="true">
                                            <h6 class="acco-text">What is lorem ipsum?</h6>
                                            <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                                        </a>
                                        <div class="ans-accordian show" id="template-1">
                                            <p>Lorem ipsum is simply dummy text of the printing and typesetting
                                                industry.</p>
                                            <p>Lorem ipsum has been the industry's standard dummy text ever since the
                                                1500s, when an unknown printer took a galley of type and scrambled it to
                                                make a type specimen book.</p>
                                        </div>
                                    </li>
                                    <li class="accordian-li">
                                        <a href="#template-2" class="accordian" data-bs-toggle="collapse">
                                            <h6 class="acco-text">Why do we use it?</h6>
                                            <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                                        </a>
                                        <div class="ans-accordian collapse" id="template-2">
                                            <p>It is a long established fact that a reader will be distracted by the
                                                readable content of a page when looking at its layout.</p>
                                            <p>The point of using lorem ipsum is that it has a more-or-less normal
                                                distribution of letters, as opposed to using 'Content here, content
                                                here', making it look like readable English.</p>
                                        </div>
                                    </li>
                                    <li class="accordian-li">
                                        <a href="#template-3" class="accordian" data-bs-toggle="collapse">
                                            <h6 class="acco-text">Where does it come from?</h6>
                                            <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                                        </a>
                                        <div class="ans-accordian collapse" id="template-3">
                                            <p>It has roots in a piece of classical latin literature from 45 BC, making
                                                it over 2000 years old.</p>
                                        </div>
                                    </li>
                                    <li class="accordian-li">
                                        <a href="#template-4" class="accordian" data-bs-toggle="collapse">
                                            <h6 class="acco-text">Where can i get some?</h6>
                                            <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                                        </a>
                                        <div class="ans-accordian collapse" id="template-4">
                                            <p>There are many variations of passages of lorem ipsum available, but the
                                                majority have suffered alteration in some form, by injected humour, or
                                                randomised words which don't look even slightly believable.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- other page end -->
        <!-- help-desk start -->
        <section class=" help-desk section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="help-wrap">
                            <li class="desk-wrap">
                                <div class="help-desk-info">
                                    <a href="javascript:void(0)"><i class="bi bi-telephone-inbound"></i></a>
                                    <div class="help-desk-text">
                                        <h6>Help desk support</h6>
                                        <p>Lorem ipsum is simply dummy text of the simply dummy typesetting industry
                                            ipsum.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="desk-wrap">
                                <div class="help-desk-info">
                                    <a href="javascript:void(0)"><i class="bi bi-people"></i></a>
                                    <div class="help-desk-text">
                                        <h6>Live chat support</h6>
                                        <p>Lorem ipsum is simply dummy text of the simply dummy typesetting industry
                                            ipsum.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- help-desk end -->
        <!-- return policy start -->
        <section class="ret-page section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section-capture">
                            <!-- ret title start -->
                            <div class="section-title">
                                <h2><span>Return policy</span></h2>
                            </div>
                        </div>
                        <div class="que-ans">
                            <ul class="accordian-ul">
                                <li class="accordian-li">
                                    <a href="#collapse-template-1" class="accordian" data-bs-toggle="collapse"
                                        aria-expanded="true">
                                        <h6 class="acco-text">What is lorem ipsum?</h6>
                                        <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                                    </a>
                                    <div class="ans-accordian show" id="collapse-template-1">
                                        <p>It has survived not only five centuries, but also the leap into electronic
                                            typesetting, remaining essentially unchanged.</p>
                                        <p>It was popularised in the 1960s with the release of letraset sheets
                                            containing lorem ipsum passages, and more recently with desktop publishing
                                            software like aldus pageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                                </li>
                                <li class="accordian-li">
                                    <a href="#collapse-template-2" class="accordian" data-bs-toggle="collapse"
                                        aria-expanded="false">
                                        <h6 class="acco-text">Why do we use it?</h6>
                                        <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                                    </a>
                                    <div class="ans-accordian collapse" id="collapse-template-2">
                                        <p>Various versions have evolved over the years, sometimes by accident,
                                            sometimes on purpose (injected humour and the like).</p>
                                        <p>Many desktop publishing packages and web page editors now use lorem ipsum as
                                            their default model text, and a search for 'lorem ipsum' will uncover many
                                            web sites still in their infancy.</p>
                                    </div>
                                </li>
                                <li class="accordian-li">
                                    <a href="#collapse-template-3" class="accordian" data-bs-toggle="collapse"
                                        aria-expanded="false">
                                        <h6 class="acco-text">Where can i get some?</h6>
                                        <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                                    </a>
                                    <div class="ans-accordian collapse" id="collapse-template-3">
                                        <p>It uses a dictionary of over 200 latin words, combined with a handful of
                                            model sentence structures, to generate lorem ipsum which looks reasonable.
                                        </p>
                                        <p>The generated lorem ipsum is therefore always free from repetition, injected
                                            humour, or non-characteristic words etc.</p>
                                    </div>
                                </li>
                                <li class="accordian-li">
                                    <a href="#collapse-template-4" class="accordian" data-bs-toggle="collapse"
                                        aria-expanded="false">
                                        <h6 class="acco-text">Where does it come from?</h6>
                                        <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                                    </a>
                                    <div class="ans-accordian collapse" id="collapse-template-4">
                                        <p>Richard mcclintock, a latin professor at hampden-sydney college in virginia,
                                            looked up one of the more obscure latin words, consectetur, from a lorem
                                            ipsum passage, and going through the cites of the word in classical
                                            literature, discovered the undoubtable source.</p>
                                    </div>
                                </li>
                                <li class="accordian-li">
                                    <a href="#collapse-template-5" class="accordian" data-bs-toggle="collapse"
                                        aria-expanded="false">
                                        <h6 class="acco-text">What is lorem ipsum?</h6>
                                        <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                                    </a>
                                    <div class="ans-accordian collapse" id="collapse-template-5">
                                        <p>Richard mcclintock, a latin professor at hampden-sydney college in virginia,
                                            looked up one of the more obscure latin words, consectetur, from a lorem
                                            ipsum passage, and going through the cites of the word in classical
                                            literature, discovered the undoubtable source.</p>
                                    </div>
                                </li>
                                <li class="accordian-li">
                                    <a href="#collapse-template-6" class="accordian" data-bs-toggle="collapse"
                                        aria-expanded="false">
                                        <h6 class="acco-text">Where does it come from?</h6>
                                        <span class="acco-arrow"><i class="bi bi-chevron-down"></i></span>
                                    </a>
                                    <div class="ans-accordian collapse" id="collapse-template-6">
                                        <p>It has roots in a piece of classical latin literature from 45 BC, making it
                                            over 2000 years old.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- return policy end -->
    </main>
    <!-- main section end-->
 
    <!-- cart-drawer start -->
    <div class="cart-drawer" id="cart-drawer">
        <form action="/cart" method="post" class="drawer-contents">
            <div class="drawer-fixed-header">
                <div class="drawer-header">
                    <h6 class="drawer-header-title">Cart</h6>
                    <div class="drawer-close">
                        <button type="button" class="drawer-close-btn"><span class="drawer-close-icon"><svg
                                    viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg></span></button>
                    </div>
                </div>
            </div>
            <div class="drawer-cart-empty">
                <div class="drawer-scrollable">
                    <h2>Your cart is currently empty</h2>
                    <a href="/collections/all" class="btn btn-style2">Continue shopping</a>
                </div>
            </div>
            <div class="drawer-inner">
                <div class="drawer-scrollable">
                    <ul class="cart-items">
                        <li class="cart-item">
                            <div class="cart-item-info">
                                <div class="cart-item-image">
                                    <a href="javascript:void(0)">
                                        <img src="{% static 'img/menu/shop-banner1.jpg' %}" class="img-fluid" alt="cart-1">
                                    </a>
                                </div>
                                <div class="cart-item-details">
                                    <div class="cart-item-name">
                                        <a href="javascript:void(0)">Headphone</a>
                                    </div>
                                    <div class="cart-item-variants">
                                        <h6>Color:</h6>
                                        <span>Black</span>
                                    </div>
                                    <div class="cart-item-variants">
                                        <h6>Size:</h6>
                                        <span>XL</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-item-sub">
                                <div class="cart-qty-price-remove">
                                    <div class="cart-item-qty">
                                        <div class="js-qty-wrapper">
                                            <div class="js-qty-wrap">
                                                <button type="button"
                                                    class="js-qty-adjust ju-qty-adjust-minus"><span><svg
                                                            viewBox="0 0 24 24" width="16" height="16"
                                                            stroke="currentColor" stroke-width="2" fill="none"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            class="css-i6dzq1">
                                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                                        </svg></span></button>
                                                <input type="text" class="js-qty-num" name="name" value="1"
                                                    pattern="[0-9]*">
                                                <button type="button"
                                                    class="js-qty-adjust ju-qty-adjust-plus"><span><svg
                                                            viewBox="0 0 24 24" width="16" height="16"
                                                            stroke="currentColor" stroke-width="2" fill="none"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            class="css-i6dzq1">
                                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                                        </svg></span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-item-price">
                                        <span class="cart-price">$250.00</span>
                                    </div>
                                    <div class="cart-item-remove">
                                        <button type="button" class="cart-remove text-danger"><span><svg
                                                    viewBox="0 0 24 24" width="16" height="16" stroke="currentColor"
                                                    stroke-width="2" fill="none" stroke-linecap="round"
                                                    stroke-linejoin="round" class="css-i6dzq1">
                                                    <polyline points="3 6 5 6 21 6"></polyline>
                                                    <path
                                                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                    </path>
                                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                                </svg></span></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cart-item">
                            <div class="cart-item-info">
                                <div class="cart-item-image">
                                    <a href="javascript:void(0)">
                                        <img src="{% static 'img/menu/shop-banner2.jpg' %}" class="img-fluid" alt="cart-2">
                                    </a>
                                </div>
                                <div class="cart-item-details">
                                    <div class="cart-item-name">
                                        <a href="javascript:void(0)">Electronic</a>
                                    </div>
                                    <div class="cart-item-variants">
                                        <h6>Color:</h6>
                                        <span>Black</span>
                                    </div>
                                    <div class="cart-item-variants">
                                        <h6>Size:</h6>
                                        <span>XL</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-item-sub">
                                <div class="cart-qty-price-remove">
                                    <div class="cart-item-qty">
                                        <div class="js-qty-wrapper">
                                            <div class="js-qty-wrap">
                                                <button type="button"
                                                    class="js-qty-adjust ju-qty-adjust-minus"><span><svg
                                                            viewBox="0 0 24 24" width="16" height="16"
                                                            stroke="currentColor" stroke-width="2" fill="none"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            class="css-i6dzq1">
                                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                                        </svg></span></button>
                                                <input type="text" class="js-qty-num" name="name" value="1"
                                                    pattern="[0-9]*">
                                                <button type="button"
                                                    class="js-qty-adjust ju-qty-adjust-plus"><span><svg
                                                            viewBox="0 0 24 24" width="16" height="16"
                                                            stroke="currentColor" stroke-width="2" fill="none"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            class="css-i6dzq1">
                                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                                        </svg></span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-item-price">
                                        <span class="cart-price">$190.00</span>
                                    </div>
                                    <div class="cart-item-remove">
                                        <button type="button" class="cart-remove text-danger"><span><svg
                                                    viewBox="0 0 24 24" width="16" height="16" stroke="currentColor"
                                                    stroke-width="2" fill="none" stroke-linecap="round"
                                                    stroke-linejoin="round" class="css-i6dzq1">
                                                    <polyline points="3 6 5 6 21 6"></polyline>
                                                    <path
                                                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                    </path>
                                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                                </svg></span></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cart-item">
                            <div class="cart-item-info">
                                <div class="cart-item-image">
                                    <a href="javascript:void(0)">
                                        <img src="{% static 'img/menu/shop-banner3.jpg' %}" class="img-fluid" alt="cart-3">
                                    </a>
                                </div>
                                <div class="cart-item-details">
                                    <div class="cart-item-name">
                                        <a href="javascript:void(0)">Home Appliance</a>
                                    </div>
                                    <div class="cart-item-variants">
                                        <h6>Color:</h6>
                                        <span>Black</span>
                                    </div>
                                    <div class="cart-item-variants">
                                        <h6>Size:</h6>
                                        <span>XL</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-item-sub">
                                <div class="cart-qty-price-remove">
                                    <div class="cart-item-qty">
                                        <div class="js-qty-wrapper">
                                            <div class="js-qty-wrap">
                                                <button type="button"
                                                    class="js-qty-adjust ju-qty-adjust-minus"><span><svg
                                                            viewBox="0 0 24 24" width="16" height="16"
                                                            stroke="currentColor" stroke-width="2" fill="none"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            class="css-i6dzq1">
                                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                                        </svg></span></button>
                                                <input type="text" class="js-qty-num" name="name" value="1"
                                                    pattern="[0-9]*">
                                                <button type="button"
                                                    class="js-qty-adjust ju-qty-adjust-plus"><span><svg
                                                            viewBox="0 0 24 24" width="16" height="16"
                                                            stroke="currentColor" stroke-width="2" fill="none"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            class="css-i6dzq1">
                                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                                        </svg></span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-item-price">
                                        <span class="cart-price">$220.00</span>
                                    </div>
                                    <div class="cart-item-remove">
                                        <button type="button" class="cart-remove text-danger"><span><svg
                                                    viewBox="0 0 24 24" width="16" height="16" stroke="currentColor"
                                                    stroke-width="2" fill="none" stroke-linecap="round"
                                                    stroke-linejoin="round" class="css-i6dzq1">
                                                    <polyline points="3 6 5 6 21 6"></polyline>
                                                    <path
                                                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                    </path>
                                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                                </svg></span></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="cart-item">
                            <div class="cart-item-info">
                                <div class="cart-item-image">
                                    <a href="javascript:void(0)">
                                        <img src="{% static 'img/menu/shop-banner4.jpg' %}" class="img-fluid" alt="cart-4">
                                    </a>
                                </div>
                                <div class="cart-item-details">
                                    <div class="cart-item-name">
                                        <a href="javascript:void(0)">Speakers</a>
                                    </div>
                                    <div class="cart-item-variants">
                                        <h6>Color:</h6>
                                        <span>Black</span>
                                    </div>
                                    <div class="cart-item-variants">
                                        <h6>Size:</h6>
                                        <span>XL</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-item-sub">
                                <div class="cart-qty-price-remove">
                                    <div class="cart-item-qty">
                                        <div class="js-qty-wrapper">
                                            <div class="js-qty-wrap">
                                                <button type="button"
                                                    class="js-qty-adjust ju-qty-adjust-minus"><span><svg
                                                            viewBox="0 0 24 24" width="16" height="16"
                                                            stroke="currentColor" stroke-width="2" fill="none"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            class="css-i6dzq1">
                                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                                        </svg></span></button>
                                                <input type="text" class="js-qty-num" name="name" value="1"
                                                    pattern="[0-9]*">
                                                <button type="button"
                                                    class="js-qty-adjust ju-qty-adjust-plus"><span><svg
                                                            viewBox="0 0 24 24" width="16" height="16"
                                                            stroke="currentColor" stroke-width="2" fill="none"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            class="css-i6dzq1">
                                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                                        </svg></span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-item-price">
                                        <span class="cart-price">$220.00</span>
                                    </div>
                                    <div class="cart-item-remove">
                                        <button type="button" class="cart-remove text-danger"><span><svg
                                                    viewBox="0 0 24 24" width="16" height="16" stroke="currentColor"
                                                    stroke-width="2" fill="none" stroke-linecap="round"
                                                    stroke-linejoin="round" class="css-i6dzq1">
                                                    <polyline points="3 6 5 6 21 6"></polyline>
                                                    <path
                                                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                    </path>
                                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                                </svg></span></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="drawer-notes">
                        <label for="cartnote">Order note</label>
                        <textarea name="note" class="cart-notes" id="cartnote"></textarea>
                    </div>
                </div>
                <div class="drawer-footer">
                    <div class="drawer-total">
                        <span class="drawer-subtotal">Subtotal</span>
                        <span class="drawer-totalprice">$880.00</span>
                    </div>
                    <div class="drawer-ship-text">
                        <span>Shipping, taxes, and discount codes calculated at checkout</span>
                    </div>
                    <div class="drawer-cart-checkout">
                        <div class="cart-checkout-btn">
                            <button type="button" onclick="location. href='checkout-style1.html'"
                                class="btn btn-style2">Checkout</button>
                            <button type="button" onclick="location. href='cart-page.html'" class="btn btn-style2">View
                                cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- cart-drawer end -->
    <!-- bg-scren start -->
    <div class="bg-screen"></div>
    <!-- bg-scren end -->

    <!-- jquery js -->
    <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- magnific-popup js -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- owl-carousel js -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- swiper-slider js -->
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <!-- slick js -->
    <script src="{% static 'js/slick.min.js' %}"></script>
    <!-- waypoints js -->
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <!-- counter js -->
    <script src="{% static 'js/counter.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>

{% endblock %}